@using DigiProj.Configuration.Constants
@using DigiProj.Helpers
@using DigiProj.Services.Interfaces
@using DigiProj.Shared.Dtos.Requests;
@using DigiProj.Shared.Dtos.Responses.MsProject;
@using System.Globalization;
@model DigiProj.Models.Project.CreateProjectInputModel

@inject IProjectApiService projectService
@inject IDepartmentService apiDepartmentService
@inject IUserApiService apiUserService

@{
    var ID = ViewBag.ID;
    var user = User.GetClaims();

	//Lastnumber ID
	//var apiLastNumberResponse = await projectService.GetProjectLastNumber();
	//var LastNumberData = apiLastNumberResponse;

	//get departmentAll
	var apiResponseDepartment = await apiDepartmentService.GetDepartment();
	var dataDepartment = apiResponseDepartment.Data;

	//get userAll
	var apiUserAll = await apiUserService.GetUsers();
	var UserData = apiUserAll.Data;

	//detail
    var apiResponse = await projectService.GetDetailProject(ID);
    var DetailData = apiResponse.Data;

	//menu
    var apiMenu = await apiUserService.GetMenusAsync();
    var Menu = apiMenu.Data;

}


@if (Menu.First().Controller == "project" && Menu.First().IsCreate == false)
{
	@section scripts {
                 <script>   
                              window.location.href = '@Url.Content("/Home/AccessDenied")';
                 </script>

            }
}


<!-- PAGE-HEADER -->
<div class="page-header">
	<div>
		<h1 class="page-title">Project New</h1>
	</div>
	<div class="ms-auto pageheader-btn">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Apps</li>
			<li class="breadcrumb-item"><a href="javascript:void(0);">Projects</a></li>
			<li class="breadcrumb-item active" aria-current="page">Project New</li>
		</ol>
	</div>
</div>
<!-- PAGE-HEADER END -->
<!--ROW OPENED-->
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="card">
			<div class="card-header border-bottom">
				<h4 class="mb-0">Project New</h4>
			</div>
			<div class="card-body p-0 create-project-main">
				<form class="form-horizontal" data-select2-id="11" id="project_form">
					<div class="row p-5 border-bottom">
						<input id="project-id" type="text" class="form-control text-dark" value="" hidden>

						<div class="col-sm-12 col-md-12 col-xl-3">
							<div class="form-group">
								<label for="project-name" class="form-label text-muted">Project Name:</label>
								<div class="input-group">
									<input id="project-name"  type="text" class="form-control text-dark" placeholder="Enter Project Name">
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-xl-3">
							<div class="form-group">
								<label for="project-name" class="form-label text-muted">Project Leader:</label>
								<div class="input-group">
									<select class="form-control select2-show-search" id="project-owner" data-placeholder="Choose One...">
										<option value="0" selected> Choose one</option>
										@if (UserData.Any())
										{
											foreach (var row in UserData)
											{
												<option value="@row.EmployeeId">@row.Name</option>
											}
										}
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-xl-3">
							<div class="form-group">
								<label for="project-name" class="form-label text-muted">Department:</label>
								<div class="input-group">
									<select class="form-control select2-show-search" id="department" data-placeholder="Choose One...">
										<option value="0" selected> Choose one</option>
										@if (UserData.Any())
										{
											foreach (var row in dataDepartment)
											{
												<option value="@row.DepartmentId">@row.DepartmentName</option>
											}
										}
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-xl-3">
							<div class="form-group">
								<label for="project-start-date" class="form-label text-muted">Project Date:</label>
								<div class="input-group date" data-date-format="dd-mm-yyyy">
									<span class="input-group-addon input-group-text bg-primary-transparent"><i class="fe fe-calendar text-primary-dark"></i></span>
									<input id="project-start-date" class="form-control" type="datetime-local" placeholder="Select Start Date" />
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-xl-3 end-date-container">
							<div class="form-group">
								<label for="project-end-date" class="form-label text-muted">End Date:</label>
								<div class="input-group date" data-date-format="dd-mm-yyyy">
									<span class="input-group-addon input-group-text bg-primary-transparent"><i class="fe fe-calendar text-primary-dark"></i></span>
									<input id="project-end-date" class="form-control" type="datetime-local" placeholder="Select End Date" />
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-xl-12">
							<label class="form-label text-muted">Summary project: </label>
							<div class="form-group">
								<textarea id="summernote" name="contents"></textarea>
							</div>
						</div>

						<div class="col-sm-12 col-md-12 col-xl-12">
							<label class="form-label text-muted">Members Project: </label>
							<div class="form-group">
								<ul>
									<li class="select-client">
										<select required="required" class="form-control select2-client-search" id="employee-id" multiple>
											<option value="" selected>Select Person</option>
											@if (UserData.Any())
											{
												foreach (var row in UserData)
												{
													<option value="@row.EmployeeId">@row.Name</option>
												}
											}
										</select>
									</li>
								</ul>
							</div>
						</div>
					</div>
					@*<div class="row p-5 border-bottom">
						<div class="col-xl-12">
							<h6 class="mb-0 d-flex other-details">Other Details<i class="fe fe-chevron-down down-arrow fs-15"></i><i class="fe fe-chevron-up up-arrow d-none fs-15"></i></h6>
							<div class="row other-details-main d-none mt-4">
								<div class="col-sm-12 col-md-12 col-xl-12">
									<label class="form-label text-muted">Add Files: </label>
									<div class="form-group">
										<form method="post">
											<input type="file" class="dropify" data-bs-height="100" />
										</form>
									</div>
								</div>

							</div>
						</div>
					</div>*@
					<div class="row p-5">
						<div class="btn-list text-end">
							<button class="btn btn-outline-danger">
								<i class="fe fe-x-circle"></i>
								Cancel
							</button>
							<button class="btn btn-primary" onclick="PostProject();" type="button">
								<i class="fe fe-check-circle"></i>
								Save
							</button>
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</div>

<!--ROW CLOSED-->
@section scripts {
	<!-- CREATE JS-->
	<script src="~/assets/js/project/projects-new.js"></script>
}