@using DigiProj.Configuration;
@using DigiProj.Configuration.Constants;
@using DigiProj.Helpers;
@using System.Globalization;
@using DigiProj.Services.Interfaces;
@using static DigiProj.Configuration.StatusResponseEnum;
@inject IProjectApiService apiService
@inject IDepartmentService apiDepartmentService
@inject IConfiguration configuration

@{
	var user = User.GetClaims();
	var apiResponseProject = await apiService.GetProjects();
	var dataProject = apiResponseProject.Data;

	var apiResponseDepartment = await apiDepartmentService.GetDepartment();
	var dataDepartment = apiResponseDepartment.Data;

	var apiResponseStatus = await apiService.GetAutoCompleteStatus();
	var dataStatus = apiResponseStatus.Data;
}
<partial name="~/Views/ProjectsList/_permission.cshtml" />

<!-- PAGE-HEADER -->
<div class="page-header">
	<div>
		<h1 class="page-title">Projects-List</h1>
	</div>
	<div class="ms-auto pageheader-btn">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Apps</li>
			<li class="breadcrumb-item"><a href="javascript:void(0);">Projects</a></li>
			<li class="breadcrumb-item active" aria-current="page">Projects-List</li>
		</ol>
	</div>
</div>
<!-- PAGE-HEADER END -->
<!--ROW OPENED-->
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body project-type-container projects p-4">
				<h4 class="m-0" id="typeTitle">All Projects</h4>
				<div class="d-sm-flex align-items-center">
					<div class="btn-list mx-4">
						<a id="cr" class="btn btn-outline-primary" asp-controller="ProjectsList" asp-action="Create"><i class="fe fe-edit-2 me-2"></i> Create Project</a>
						<a class="btn btn-outline-primary" asp-controller="Projects" asp-action="Index">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-inner-icn" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M21.5,13h-8.0005493C13.2234497,13.0001831,12.9998169,13.223999,13,13.5v8.0005493C13.0001831,21.7765503,13.223999,22.0001831,13.5,22h8.0006104C21.7765503,21.9998169,22.0001831,21.776001,22,21.5v-8.0006104C21.9998169,13.2234497,21.776001,12.9998169,21.5,13z M21,21h-7v-7h7V21z M10.5,2H2.4993896C2.2234497,2.0001831,1.9998169,2.223999,2,2.5v8.0005493C2.0001831,10.7765503,2.223999,11.0001831,2.5,11h8.0006104C10.7765503,10.9998169,11.0001831,10.776001,11,10.5V2.4993896C10.9998169,2.2234497,10.776001,1.9998169,10.5,2z M10,10H3V3h7V10z M10.5,13H2.4993896C2.2234497,13.0001831,1.9998169,13.223999,2,13.5v8.0005493C2.0001831,21.7765503,2.223999,22.0001831,2.5,22h8.0006104C10.7765503,21.9998169,11.0001831,21.776001,11,21.5v-8.0006104C10.9998169,13.2234497,10.776001,12.9998169,10.5,13z M10,21H3v-7h7V21z M21.5,2h-8.0005493C13.2234497,2.0001831,12.9998169,2.223999,13,2.5v8.0005493C13.0001831,10.7765503,13.223999,11.0001831,13.5,11h8.0006104C21.7765503,10.9998169,22.0001831,10.776001,22,10.5V2.4993896C21.9998169,2.2234497,21.776001,1.9998169,21.5,2z M21,10h-7V3h7V10z" /></svg>
						</a>
						<a class="btn btn-primary" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-inner-icn text-white" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M3.5,12C3.223877,12,3,12.223877,3,12.5S3.223877,13,3.5,13S4,12.776123,4,12.5S3.776123,12,3.5,12z M6.5,8h15C21.776123,8,22,7.776123,22,7.5S21.776123,7,21.5,7h-15C6.223877,7,6,7.223877,6,7.5S6.223877,8,6.5,8z M3.5,17C3.223877,17,3,17.223877,3,17.5S3.223877,18,3.5,18S4,17.776123,4,17.5S3.776123,17,3.5,17z M21.5,12h-15C6.223877,12,6,12.223877,6,12.5S6.223877,13,6.5,13h15c0.276123,0,0.5-0.223877,0.5-0.5S21.776123,12,21.5,12z M3.5,7C3.223877,7,3,7.223877,3,7.5S3.223877,8,3.5,8S4,7.776123,4,7.5S3.776123,7,3.5,7z M21.5,17h-15C6.223877,17,6,17.223877,6,17.5S6.223877,18,6.5,18h15c0.276123,0,0.5-0.223877,0.5-0.5S21.776123,17,21.5,17z" /></svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@*START FORM FILTER*@
<div class="card">
	<div class="card-header border-0 pt-6">
		<div class="input-group" id="group">
			<div class="col-sm-6 col-md-6 col-xl-4">
				<div class="form-group">
					<label class="form-label text-muted">Project Name: </label>
					<input id="ProjectName" type="text" class="form-control form-control-solid" placeholder="Project Name">&nbsp;
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-xl-4">
				<div class="form-group">
					<label class="form-label text-muted">Department: </label>
					<ul>
						<li class="select-status">
							<select class="form-control select2-status-search" data-placeholder="Select Department" id="DepartName">
								<option value="" selected>All</option>
								@foreach (var a in dataDepartment)
								{
									<option value=@a.DepartmentName>@a.DepartmentName.ToUpper()</option>
								}
							</select>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-xl-4">
				<div class="form-group">
					<label class="form-label text-muted">Project Status: </label>
					<ul>
						<li class="select-status">
							<select class="form-control select2-status-search" data-placeholder="Select Status" id="Status">
								<option value="0" selected>All</option>
								@foreach (var a in dataStatus)
								{
									<option value=@a.id>@a.name.ToTitleCase()</option>
								}
							</select>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-xl-4">
				<div class="form-group">
					<label class="form-label text-muted">Sort by: </label>
					<ul>
						<li class="select-status">
							<select class="form-control select2-status-search" data-placeholder="Select OrderBy" id="OrderBy">
								<option value="project_id">Project ID</option>
								<option value="project_name">Project Name</option>
								<option value="status">Status</option>
								<option value="created_date">Created Date</option>
							</select>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-xl-4">
				<div class="form-group">
					<label class="form-label text-muted">Ascending or Descending: </label>
					<ul>
						<li class="select-status">
							<select class="form-control select2-status-search" data-placeholder="Select Ascending" id="Ascending">
								<option value="" selected> A-Z &#8673;</option>
								<option value="1">Z-A &#8675;</option>
							</select>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<button type="button" style="width:30%;margin-left:2%;margin-bottom:2%;" id="btnSearchProject" class="btn btn-primary" onclick="SearchProject();"> Search</button>
</div>
@*END FORM FILTER*@

<div class="row">
	<div class="col-12 col-sm-12">
		<div class="card">
			<div class="card-body project-list-table-container">
				<div class="table-responsive">
					<table id="project-table" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
						<thead class="table-head">
							<tr>
								<th class="bg-transparent border-bottom-0 w-5">No</th>
								<th class="bg-transparent border-bottom-0 w-5">Project ID</th>
								<th class="bg-transparent border-bottom-0">Project Name</th>
								<th class="bg-transparent border-bottom-0">Department</th>
								<th class="bg-transparent border-bottom-0">Status</th>
								<th class="bg-transparent border-bottom-0">Project Lead</th>
								<th class="bg-transparent border-bottom-0">Members</th>
								<th class="bg-transparent border-bottom-0">Created By</th>
								<th class="bg-transparent border-bottom-0">Submit Date</th>
								<th class="bg-transparent border-bottom-0">Action</th>
							</tr>
						</thead>
						<tbody class="table-body">

							@if (dataProject.Any())
							{
								int n = 1;
								foreach (var ProjectData in dataProject)
								{
									<tr>
										<td class="text-muted fs-15 fw-semibold text-center">@n</td>
										<td class="text-muted fs-15 fw-semibold text-center">@ProjectData.ProjectId.ToUpper()</td>
										<td class="text-muted fs-15 fw-semibold text-center">@ProjectData.ProjectName.ToUpper()</td>
										<td class="text-muted fs-15 fw-semibold text-center">
											@ProjectData.DepartmentName.ToUpper()
										</td>
										<td class="text-muted fs-15 fw-semibold text-center">

											@if (@ProjectData.Status == Convert.ToInt16(Level.NotStarted))
											{
												<span class="mb-0 mt-1 badge rounded-pill text-default bg-warning-transparent">Not Started</span>
											}
											@if (@ProjectData.Status == Convert.ToInt16(Level.WorkInprogress))
											{
												<span class="mb-0 mt-1 badge rounded-pill text-info bg-info-transparent">Work Inprogress</span>
											}
											@if (@ProjectData.Status == Convert.ToInt16(Level.Done))
											{
												<span class="mb-0 mt-1 badge rounded-pill bg-primary-transparent text-primary">Done</span>
											}
											@if (@ProjectData.Status == Convert.ToInt16(Level.Block))
											{
												<span class="mb-0 mt-1 badge rounded-pill text-default bg-warning-transparent">Block</span>
											}
										</td>
										<td class="text-muted fs-15 fw-semibold text-center">@ProjectData.ProjectOwner.ToTitleCase()</td>
										<td>
											<div class="avatar-list avatar-list-stacked">
												@if (ProjectData.AssignTo.Any())
												{
													if (ProjectData.AssignTo.Count() >= 1)
													{
														foreach (var MemberProject in ProjectData.AssignTo.Take(1).ToList())
														{
															<span><img src="~/assets/images/users/bi-logo.jpg" title="@MemberProject.EmployeeId" alt="profile-user" class="avatar bradius cover-image"></span>
														}
														<span class="avatar bradius bg-primary">+@ProjectData.AssignTo.Count()</span>
													}
												}
											</div>
										</td>
										<td class="text-muted fs-15 fw-semibold text-center">@ProjectData.CreatedBy.ToTitleCase()</td>
										<td class="text-muted fs-15 fw-semibold text-center">@ProjectData.CreatedDate.ToString(ConfigurationConsts.DateFormatID,new CultureInfo("id-ID"))</td>
										<td>
											<div class="d-flex align-items-stretch">
												<a id="dlt" class="btn btn-sm btn-outline-secondary border me-2" data-bs-toggle="tooltip" data-bs-original-title="Delete" onclick="PopupModalProject('@ProjectData.ProjectId', '@ProjectData.ProjectName');">
														<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="16"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5z" /></svg>
												</a>
												<a href="#" class="border br-5 px-2 py-1 text-muted d-flex align-items-center" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
												<div class="dropdown-menu dropdown-menu-start">
													<a id="ed" class="dropdown-item" asp-controller="ProjectsList" asp-action="Edit" asp-route-ProjectId="@ProjectData.ProjectId"><i class="fe fe-edit-2 me-2"></i> Edit</a>
													<a id="dt" class="dropdown-item" asp-controller="ProjectsList" asp-action="Detail" asp-route-ProjectId="@ProjectData.AesProj"><i class="fe fe-info me-2"></i> Detail</a>
												</div>
											</div>
										</td>
									</tr>
									n++;
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- COL END -->
</div>


@*Modal Delete*@
	<div class="modal fade" id="modal_delete_project" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="fv-row mb-7">
						<div class="text-center pt-15">
							<input class="form-control" type="text" name="ProjectId" id="InfoProjectId" hidden />
							<h1 class="fw-bolder"><span>Delete Project ?</span></h1>
							<br />
							<label class="fs-6 fw-bold form-label mb-2">
								<span>Are you sure to delete this project <span id="InfoProjectName"></span> ?</span>
							</label>
						</div>
					</div>
					<div class="text-center pt-15">
						<button type="button" class="btn btn-success" onclick="DeleteProject();">Ok</button>
						<button type="button" class="btn btn-danger" onclick="CancelProject();">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>



<!--ROW CLOSED-->
@section scripts {
    <script src="~/assets/js/project/project-list.js"></script>
	<script src="~/assets/js/project/project-delete.js"></script>
}

