@using DigiProj.Configuration;
@using DigiProj.Configuration.Constants;
@using DigiProj.Helpers;
@using System.Globalization;
@using DigiProj.Services.Interfaces;
@using System.Net;
@using static DigiProj.Configuration.StatusResponseEnum;
@inject IProjectApiService projectService
@inject IUserApiService apiUserService
@inject ITaskApiService apiTaskService

@{
	var user = User.GetClaims();

	var apiTaskTotalResponse = await apiTaskService.GetTotalTask();
	var TotalTaskData = apiTaskTotalResponse.Data;

	var apiMenu = await apiUserService.GetMenusAsync();
	var Menu = apiMenu.Data;

}


<!-- PAGE-HEADER -->
<div class="page-header">
	<div>
		<h1 class="page-title">@ViewBag.Title</h1>
	</div>
	<div class="ms-auto pageheader-btn">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
		</ol>
	</div>
</div>
<!-- PAGE-HEADER END -->
@if (TotalTaskData.Any())
{
	foreach (var row in TotalTaskData)
	{
		<div class="row">
			<div class="col-lg-6 col-sm-12 col-md-6 col-xl-3">
				<div class="card overflow-hidden">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<h3 class="mb-2 fw-semibold">@row.TotalTask</h3>
								<p class="text-muted fs-13 mb-0">Total Task</p>
							</div>
							<div class="col col-auto top-icn dash">
								<div class="counter-icon bg-info dash ms-auto box-shadow-info">
									<i class="typcn typcn-tabs-outline" data-bs-toggle="tooltip" title="" data-bs-original-title="typcn typcn-tabs-outline" aria-label="typcn typcn-tabs-outline"></i>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12 col-md-6 col-xl-3">
				<div class="card overflow-hidden">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<h3 class="mb-2 fw-semibold">@row.Block</h3>
								<p class="text-muted fs-13 mb-0">Total Task Block</p>
							</div>
							<div class="col col-auto top-icn dash">
								<div class="counter-icon bg-secondary dash ms-auto box-shadow-secondary">
									<i class="typcn typcn-info-outline" data-bs-toggle="tooltip" title="" data-bs-original-title="typcn typcn-info-outline" aria-label="typcn typcn-info-outline"></i>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12 col-md-6 col-xl-3">
				<div class="card overflow-hidden">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<h3 class="mb-2 fw-semibold">@row.Done</h3>
								<p class="text-muted fs-13 mb-0">Total Task Done</p>
							</div>
							<div class="col col-auto top-icn dash">
								<div class="counter-icon bg-primary dash ms-auto box-shadow-primary">
									<i class="pe-7s-check" data-bs-toggle="tooltip" title="" data-bs-original-title="pe-7s-check" aria-label="pe-7s-check"></i>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12 col-md-6 col-xl-3">
				<div class="card overflow-hidden">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<h3 class="mb-2 fw-semibold">@row.TotalProject</h3>
								<p class="text-muted fs-13 mb-0">Total Project</p>
							</div>
							<div class="col col-auto top-icn dash">
								<div class="counter-icon bg-info dash ms-auto box-shadow-info">
									<i class="typcn typcn-tabs-outline" data-bs-toggle="tooltip" title="" data-bs-original-title="typcn typcn-tabs-outline" aria-label="typcn typcn-tabs-outline"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12 col-md-6 col-xl-3">
				<div class="card overflow-hidden">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<h3 class="mb-2 fw-semibold">@row.TotalProjectBlock</h3>
								<p class="text-muted fs-13 mb-0">Total Project Block</p>
							</div>
							<div class="col col-auto top-icn dash">
								<div class="counter-icon bg-secondary dash ms-auto box-shadow-secondary ">
									<i class="typcn typcn-info-outline" data-bs-toggle="tooltip" title="" data-bs-original-title="typcn typcn-info-outline" aria-label="typcn typcn-info-outline"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12 col-md-6 col-xl-3">
				<div class="card overflow-hidden">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<h3 class="mb-2 fw-semibold">@row.TotalProjectDone</h3>
								<p class="text-muted fs-13 mb-0">Total Project Done</p>
							</div>
							<div class="col col-auto top-icn dash">
								<div class="counter-icon bg-primary dash ms-auto box-shadow-primary">
									<i class="pe-7s-check" data-bs-toggle="tooltip" title="" data-bs-original-title="pe-7s-check" aria-label="pe-7s-check"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	}
}

<!-- ROW-2 -->
@*<div class="row">
    <div class="col-md-6">
       <div class="tile">
            <h3 class="tile-title">Bar Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Pie Charts</h3>
			 
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
        </div>
    </div>
</div>*@
<!-- ROW-2 END -->
@section scripts{

    <script src="~/assets/plugins/chart/chart.bundle.js"></script>
    <script src="~/assets/js/dasboard.js"></script>
}


						